#div_LandingPage_parent
{
    background-color: rgb(150, 122, 103); //dbg
    outline: solid 5px rgb(255, 0, 0); //dbg todo: why does this not cover the entire square?
    height: 1500px;
    padding-top: 20px;

    #div_LandingPage_titleBar
    {
        
    }

    h1 
    {
        text-align: center;
        
    }

    #div_LandingPage_infoBar
    {
        background-color: rgba(0, 0, 0, 0.15);
        display: flex;
        gap: 2rem;
        color: white;


        #div_LandingPage_username
        {
            background-color: rgba(255, 255, 255, 0.3);

            padding: 0px 20px 0px 40px;
            p{
                font-weight: bold;
            };
        }

    }

    #div_LandingPage_thumbnails
    {
        outline: solid 5px rgb(0, 255, 123); //dbg todo: why does this not cover the entire square?
        height: 350px;
        margin-top: 20px;
        display: flex;
        gap: 1rem;
    }
}