#top-nav-bar-parent-div
{
    display: flex;
    //background-color: rgba(133, 133, 133, 0.653);
    height: 60px;

    align-items:center; //this centers the text/elements vertically
    //align-content: flex-end;

    //outline-style: auto;
    //outline-color: rgb(100, 100, 100, 10);  

    padding: 0; //doesn't do anything currently...
    margin: 0; //doesn't do anything currently...

    #top-nav-bar_left-div {
        display: flex;
        //background-color: rgba(113, 52, 52, 0.653);
        flex: 1; //this causes the flexbox to stretch
        padding-left: 2%;

        #img_site-log-icon
        {
            height: 40px;
            width: 40px;
        }

    }

    #top-nav-bar_right-div {
        display: flex;
        gap: 15px;
        padding-right: 25px;
        //background-color: rgba(172, 77, 77, 0.653);
        flex-flow:row-reverse; //todo: this succesfully aligns to the right. Hopefully this is the recommended way of doing this...
        flex: 1; //this causes the flexbox to stretch
        align-items:center; //this centers the text/elements vertically

        #img_mssg-icon
        {
            height: 30px;
            width: 30px;
            //border-radius: 50%;
            //margin: 0px 10px; 

        }

        #img_notif-icon
        {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            //margin: 0px 10px; 

        }

    }

    .top-navbar-link {
        //background-color: rgb(4, 42, 75);
        //padding: 10; //doesn't do anything currently...
        //margin: 0px 15px;
    }
}