#div_signed-in-user-control_parent {
    //background-color: rgb(130, 130, 130);

    display: flex;
    align-items: center; //this centers the title vertically
    min-width: 50px;
    height: 40px;
    padding: 0px 10px;
    margin: 0px 10px;

    //BORDER------------/////////////////////
    //option 1...
    border-radius: 11px;
    border: 3px solid rgb(21, 21, 21);

    //option 2...
    border-radius: 11px;
    border: 1px solid rgb(205, 205, 205);

    #img_user-avatar
    {
        margin: 5px;
        //size: 20px 10px; //??
        height: 34px;
        width: 40px;
        border-radius: 50%;
        margin-right: 15px;
    }

    #img_down-arrow {
        margin: 1px;
        height: 20px;
        width: 25px;
    }
}