#div_main-site-container_parent 
{
    //background-color: #89b2d3;
    background-color: #e5ddd3;

  
    * { //todo: reset without overwriting other stuff?
      //color: red;
      //padding: 0;
      //margin: 0;
    }

    #div_main-page-content {
        display: flex;
        max-width: 2000px; //this succesfully prevents the entire page from going beyond this width
        margin: auto; //this succesfully horizontally-centers the page
    }

    /*
    .highlighted-hover-container
    {
      //background-color: yellow; //debug
      
      :hover //why only parts?
      {
        background-color: rgba(255, 255, 255, 0.181);
  
      }
  
    }*/

    .highlighted-hover-container:hover
    {
        background-color: rgba(255, 255, 255, 0.1);

    }

    img {
      display: block;
      max-width: 100%;
    }
  }
  