#proj-prev-list_parent-div {
    //outline-style: auto;
    //outline-color: red;  
    //grid-area: main;

    //background-color:rgb(196, 202, 168);
    margin: 40px 30px 0px 30px;
    padding: 5px;
}

