.div_project-preview_parent 
{
    background-color: #42627d;
    background-color: #516c83;


    height: 200px;
    //background-color: #738899;

    //padding: 15px 15px 15px 15px;
    padding: 0;
    margin-bottom: 30px;
    box-shadow: 7px 7px 20px rgb(0, 0, 0);

    cursor: pointer;

    /*
    outline-style: auto;
    outline-color: green;   
    */

    /*a.a_project-preview-div //Makes entire div a clickable link. CURRENTLY HAS ODD BEHAVIOR
    { 
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        //background-color: aqua;
    }*/


    .div_project-preview_highlight
    {
        //background-color: yellow; //debug

        padding: 15px 15px 15px 15px;

        margin: 0;
    }

    /*
    .div_project-preview_highlight:hover //trying the global class instead...
    {
        background-color: rgba(255, 255, 255, 0.09);

    }*/

    /*.div_project-preview_highlight //highlights things individually...
    {
        padding: 15px 15px 15px 15px;

        margin: 0;

        :hover 
        {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }*/

    /*.div_project-preview_highlight:hover
    {
        background-color: rgba(255, 255, 255, 0.05);

    }*/

    /*:hover //only highlights p text
    {
        background-color: rgba(255, 255, 255, 0.05);

    }*/

    /*.div_project-preview_parent:hover //nothing
    {
        background-color: rgba(255, 255, 255, 0.05);

    }*/


    //---------------------////////////////////////////////
    .div_project-preview-top-bar 
    {
        display: flex;
        grid-area: header;
        background-color: rgba(0, 0, 0, 0.2);
        outline: solid 2px rgb(131, 162, 181);
        //outline: solid 2px rgba(255, 255, 255, 0.3);

        
        align-items: center; //Keeps things centered vertically
        padding: 10px;
        height: 20px;

        .p_community-rating
        {
            margin: 0px 5px;
            color: rgb(0, 225, 255);
        }

        .img_project-prev-title_community-rating
        {
            width: 20px;
            height: 20px;
            border-radius: 50%;

            //background-color: aliceblue;
            //padding: 20px;
        }

        .p_project-prev-title 
        {
            font-weight: bold;
            color: white;
            //todo: underline
        }

        .p_project-preview-top-bar
        {
            color: white;
            padding-left: 20px;
            padding-right: 20px;

            border-right-style: solid;
            border-color: rgb(171, 171, 171);
            border-width: 1px;
        }

        .div_needs 
        {
            display: flex;
            padding: 0;
            margin: 0;
            margin-left: 20px;

        }
    }



    //MAIN CONTENT SECTION---------------------////////////////////////////////
    .div_project-prev_main-content
    {
        //background-color: rgba(255, 255, 0, 0.5); //dbg
        outline: solid 2px yellow; //dbg

        display: flex;

        .div_project-prev-desc_img-container
        {
            //background-color: rgba(67, 209, 209, 0.5); //dbg
            outline: solid 2px red; //dbg

            padding: 0;
            margin: 0;

            width: 220px;
            height: 150px;

            .img_project-prev-desc_thumbnail-img
            {
                outline: solid 2px magenta; //dbg

                //width: auto;
                //height: auto;

                //width: 220px;
                //height: 150px;

                //width: 200px;
                //height: 200px;
 
                //width:fit-content; //too big
                //height: fit-content; //too big

                //object-fit: contain;
                //object-fit: scale-down;
                object-fit: fill;
                //object-fit: cover;

                //align-items: center;
                padding: 0px;
                margin: 0px;

            }
        }



        .p_project-prev-description 
        {
            color: white;

            overflow-wrap: break-word;
            //white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-left: 10px;
            //background-color: aqua;

        }
        
    }

}


/*.div_project-preview_highlight //makes individual elements highlight...
{
    :hover 
    {
        background-color: rgba(255, 255, 255, 0.05);
    }
}*/

/*.div_project-preview_highlight:hover //makes individual elements highlight...
{
    :hover 
    {
        background-color: rgba(255, 255, 255, 0.05);
    }
}*/

/*.div_project-preview_parent:hover //overrwrites bg color and also leaves the top bar untouched...
{

    background-color: rgba(255, 255, 255, 0.05);
    
}*/
