#div_newest-panel_parent {
    background-color: rgb(45, 158, 130);
    height: 300px;
    margin: 0px 0px 80px 0px;
    //margin: 0px;
    //max-width: 400px; //todo: wtf?
    //min-width: 100px; //todo: wtf?
    //width: 300px;
    padding: 0px;

    #p_newest-projects
    {
        //margin: auto; //nope
        text-align: center;
        font-weight: bold;
        background-color: rgb(174, 174, 174);
        padding: 7px 0px 7px 0px;
        //padding: 0px;
        border-bottom: 5px solid rgb(199, 199, 199);
    }

}