#div_BannerNavBar_parent
{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /*
    outline-style: auto;
    outline-color: green;
    */
    //background-color: rgb(79, 79, 79);
    background-color: rgba(0, 0, 0, 0.4);

    
    //justify-content: center; //this will align the content to the center horizontally
    align-items: center; //this centers the text/elements vertically
    //padding: 0px 20px 0px 20px; //top right bottom left

    p {
        //margin-left: 15px;
        //margin-right: 15px;
        //padding: 10px 40px 10px 45px;
        margin-top: 0;
        margin-bottom: 0;
        //padding: 0;

        margin-left: 30px;
        padding: 10px;
    
    }

    .div_search-option { //contains the search options component that is different depending on which project type is selected.
        //background-color: aliceblue;
        display: flex;
        align-items: center;
        //margin-right: 10px;

        border-right-style: solid;
        border-color: rgb(171, 171, 171);
        border-width: 1px;

    }

    #div_universal-search-options {
        display: flex;
        align-items: center;
        //background-color: rgb(157, 157, 157);
        background-color: rgba(255, 255, 255, 0.45);

        padding: 0px 20px 0px 0px;

        #div_project-type {
            //padding: 0px 40px 0px 10px; //top right bottom left
            #p_proj-type {
                //padding-right: 10px;
                //padding-left: 20px;
                //.padding: 0px;
                //padding: 0px 15px 0px 20px;
                //background-color: aquamarine;
            }

        }

        #select_project-type {


        }

    }

    .select_search-option {
        height: 25px;
        margin-right: 10px;

    }

}