#SiteFooter-parent-div {
    //outline-style: auto;
    //outline-color: red;
    background-color: rgb(195, 212, 212);
    margin: 10px;
    //grid-column: 1 / 4;
    height: 140px;
    color: white;
}