#rsp-outer-div {
    background-color:rgb(140, 181, 181);
    background-color:rgb(159, 183, 183);


    //outline-style: auto;
    //outline-color: red;  

    min-width: 200px; //todo: wtf
    max-width: 1300px; //todo: wtf
    width: 1200px;
    //height: auto; //doesn't seem to do anything
    padding: 0px 10px;
    //padding: 0px;
    margin: 5px 5px 5px 20px;
    //margin: 0px;
}