#banner-parent-div {
    background-color: rgb(137, 131, 120);
    //background-color: rgb(142, 118, 99);
    //background-color: rgb(177, 149, 97);
    //background-color: rgb(196, 147, 86);


    /*
    outline-style: auto;
    outline-color: red;
    */
    grid-area: header;
    height: 250px;
    color: white;
    /*
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    */
    padding: 0px;
    margin-bottom: 20px;

    display: grid; //todo: how do I make this an endless scroller like reddit?
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center; //this centers the title vertically

    //flex: auto;

    #site-title {
        margin: 0;
        padding: 0;
        //align-items: center;
        text-align: center;
    }

    #site-subtitle {
        margin: 0;
        padding: 0;
        padding-bottom: 20px;
        align-items: center;
        text-align: center;
        //background-color: aqua;
    }
}